<% layout("./layouts/boilerplate.ejs") -%><% pageTitle = "Privacy Policy" %>

<div class="row m-auto d-flex justify-content-center">
    <p class="col-5 privacy-content">
        At WanderLust, we are committed to safeguarding your privacy. Any personal information you
        provide us is handled with the utmost care and in compliance with applicable data protection
        laws.
    </p>
</div>
