<% layout("./layouts/boilerplate.ejs") -%><% pageTitle = "Terms" %>

<div class="row m-auto d-flex justify-content-center col-8 terms-container">
    <div class="my-2">
        <h5>Booking and Payments:</h5>
        <p>&middot; All bookings are subject to availability.</p>
        <p>
            &middot; Payments must be made in accordance with the specified terms during the booking
            process.
        </p>
    </div>
    <div class="my-2">
        <h5>Cancellation and Refunds:</h5>
        <p>&middot; Cancellation policies are outlined during the booking process.</p>
        <p>
            &middot; Refunds, if applicable, will be processed according to our cancellation policy.
        </p>
    </div>
    <div class="my-2">
        <h5>House Rules:</h5>
        <p>&middot; Guests are expected to adhere to house rules provided upon arrival.</p>
        <p>&middot; Any violations may result in eviction without a refund.</p>
    </div>
    <div class="my-2">
        <h5>Privacy:</h5>
        <p>
            &middot; Our Privacy Policy governs the collection and use of personal information. By
            using our website, you consent to our privacy practices.
        </p>
    </div>

    <div class="my-2">
        <h5>Intellectual Property:</h5>
        <p>
            &middot; All content on the website, including text, images, and logos, is the property
            of WanderLust. Unauthorized use is prohibited.
        </p>
    </div>
    <div class="my-2">
        <h5>Changes to Terms:</h5>
        <p>
            &middot; We reserve the right to update these terms at any time. Users will be notified
            of any significant changes.
        </p>
    </div>
</div>
